@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Workbench&display=swap');

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.black-bg {
    background-color: black;
    color: white;
}

body.loading {
    overflow: hidden;
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    text-decoration: underline;
}

#logo-img {
    height: 2rem;
    transition: opacity 0.5s ease;
}

.main {
    background-color: transparent;
    position: relative;
    padding-top: 80px;
    margin-top: 0;
    overflow: visible;
}

/* Estilo del nav */
#nav {
    z-index: 10000;
    background-color: inherit;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

* {
    font-family: "Lexend Giga", Arial, Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    scroll-snap-type: mandatory;
}

#proyects-index {
    position: absolute;
    right: 0;
    top: 0;
    height: 1080px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    background: transparent;
    z-index: 10;
}

#proyects-index img {
    width: 80%;
    height: auto;
    margin: 0px 0;
    object-fit: cover;
    transition: transform 200ms;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#proyects-index img:hover {
    transform: scale(1.2) translateX(-15px);
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.page1 h1 {
    font-size: 11vw;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 500;
    margin-top: 10vw;
    margin-left: 25vw;
    color: inherit;
}

.page1 h2 {
    font-size: 7vw;
    font-family: "Workbench", sans-serif;
    font-weight: 100;
    margin-left: 50vw;
    color: inherit;
}

.adhrHead {
    margin-bottom: 32vh;
}

video {
    width: 100%;
    height: 1080px;
    margin: 0;
    position: relative;
    display: block;
}

.miniatura {
    width: 80%;
    height: auto;
    margin: 10px 0;
}

.content {
    padding: 20px;
    min-height: 2000px;
}

#videoHome {
    margin-top: -130px;
}