@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Workbench&display=swap');

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

[data-scroll-container] {
    position: relative;
}

header{
    overflow-x: hidden;

}


html, body {
    background-color: white;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.black-bg {
    background-color: black;
    color: white;
}

body.loading {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    text-decoration: underline;
}

#logo-img {
    height: 2rem;
    transition: opacity 0.5s ease;
}

.main {
    background-color: transparent;
    position: relative;
    margin-top: 0;
    overflow: visible;
}

/* Estilo del nav */
#nav {
    z-index: 10000;
    background-color: inherit;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.sticky-navbar{
    position: fixed !important;
    margin-bottom: -6rem;
}

* {
    font-family: "Lexend Giga", Arial, Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    scroll-snap-type: y proximity;
}

#proyects-index {
    position: absolute; /* Fija el contenedor de miniaturas en la parte inferior de la página */
    bottom: 0; /* Coloca el contenedor en la parte inferior */
    left: 0; /* Alinea el contenedor a la izquierda */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    display: flex; /* Utiliza flexbox para alinear las miniaturas horizontalmente */
    justify-content: center; /* Centra las miniaturas horizontalmente */
    align-items: flex-end; /* Alinea las miniaturas verticalmente en la parte inferior del contenedor */
    gap: 0px; /* Añade espacio entre las miniaturas */
    padding: 0px; /* Añade un poco de relleno alrededor del contenedor */
    z-index: 10; /* Asegura que el contenedor esté por encima de otros elementos */
}

#proyects-index img {
    height: 70px; /* Define una altura fija para las miniaturas más pequeñas */
    width: auto; /* Ajusta la anchura automáticamente para mantener la proporción */
    transition: transform 200ms, border 200ms; /* Añade transición para la animación */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Añade una sombra sutil */
}

#proyects-index img:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el ratón */
    border: 1px solid white; /* Añade un borde blanco al pasar el ratón */
}




.page1 h1 {
    font-size: 11vw;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 500;
    color: inherit;
}

.page1 h2 {
    font-size: 7vw;
    font-family: "Workbench", sans-serif;
    font-weight: 100;
    color: inherit;
}

.adhrHead {
    
    height: 100%;
    overflow-x: hidden;
}

.videoSection {
   
    z-index: 9999;

    height: fit-content;
    min-height: 100vh;
    margin: 0;
    position: relative;
}


#videoHome {
    display: block;
    max-height: 100vh;
    object-fit: contain;
}


.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.video-centered {
    object-fit: cover;
    max-height: 100%;
}

.miniatura {
    width: 80%;
    height: auto;
    margin: 10px 0;
}

.content {
    padding: 20px;
    min-height: 2000px;
}

#videoHome {
}


#overlay-text {
    position: absolute; /* Asegura que el texto esté posicionado absolutamente sobre el video */
    bottom: 20px; /* Ajusta esta distancia desde el fondo */
    left: 50px; /* Ajusta esta distancia desde el margen izquierdo */
    transform: none; /* Elimina cualquier transformación previa */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 0; /* Espaciado interno para el texto */
    
}
  
/* Ajustes para pantallas móviles */
@media (max-width: 992px) {
    /* Animación al mostrar el menú de hamburguesa */
    .navbar-collapse.show .navbar-nav {
        animation: smoothFadeIn 0.5s forwards ease-out;
    }

    .navbar-collapse:not(.show) .navbar-nav {
        animation: smoothFadeOut 0.5s forwards ease-out;
    }

    /* Transición para el botón de hamburguesa */
    .navbar-toggler {
        transition: transform 0.4s ease-in-out;
    }
    /* Ajustar la separación y el tamaño de fuente para móviles */
    .navbar-nav .nav-item {
        margin: 0 10px; /* Aumenta la separación entre los elementos del menú */
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Disminuye el tamaño de la fuente en pantallas móviles */
    }
    
    /* Asegúrate de que los elementos 'Proyectos' y 'Contacto' están más alejados del logo */
    .navbar-toggler {
        margin: 0 20px; /* Aumenta el margen a los lados del botón de navegación para separarlo más del contenido */
    }
    
    .navbar-collapse {
        padding-top: 10px; /* Ajusta el espacio superior dentro del contenedor de colapso de la barra de navegación */
    }
}
