@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Workbench&display=swap');

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

[data-scroll-container] {
    position: relative;
}

header{
    overflow-x: hidden;

}


html, body {
    background-color: white;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.black-bg {
    background-color: black;
    color: white;
}

body.loading {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    text-decoration: underline;
}

#logo-img {
    height: 2rem;
    transition: opacity 0.5s ease;
}

.main {
    background-color: transparent;
    position: relative;
    margin-top: 0;
    overflow: visible;
}

/* Estilo del nav */
#nav {
    z-index: 10000;
    background-color: inherit;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.sticky-navbar{
    position: fixed !important;
    margin-bottom: -6rem;
}

* {
    font-family: "Lexend Giga", Arial, Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    scroll-snap-type: y proximity;
}


.page1 h1 {
    font-size: 11vw;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 500;
    color: inherit;
}

.page1 h2 {
    font-size: 7vw;
    font-family: "Workbench", sans-serif;
    font-weight: 100;
    color: inherit;
}

@media (max-width: 992px) {
    .navbar-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute; /* Permite un control más preciso de la posición */
      top: 30; /* Alinea con la parte superior */
      left: 0;
      right: 0;
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 96px;
      transform-origin: top center; /* Ajusta el origen de la animación al centro superior */
      transform: scale(0); /* Contrae desde el centro superior */
      transition: transform 0.4s ease-in-out; /* Suaviza la transición */
    }
  
    .navbar-collapse.show .navbar-nav {
      transform: scale(1); /* Expande a su tamaño normal */
    }
  
    .navbar-toggler {
      width: 96px;
      display: flex;
      justify-content: center;
    }
  
    .navbar-nav .nav-item {
      flex: 1;
      text-align: center;
    }
  }
  .hidden-nav-items {
    display: none; /* Oculta los elementos de navegación */
  }
  
  .sticky-navbar .hidden-nav-items {
    display: block; /* Muestra los elementos de navegación cuando se activa la clase sticky-navbar */
  }
  

/* Ajustes para pantallas móviles */
@media (max-width: 992px) {
    /* Animación al mostrar el menú de hamburguesa */
    .navbar-collapse.show .navbar-nav {
        animation: smoothFadeIn 0.5s forwards ease-out;
    }

    .navbar-collapse:not(.show) .navbar-nav {
        animation: smoothFadeOut 0.5s forwards ease-out;
    }

    /* Transición para el botón de hamburguesa */
    .navbar-toggler {
        transition: transform 0.4s ease-in-out;
    }
    /* Ajustar la separación y el tamaño de fuente para móviles */
    .navbar-nav .nav-item {
        margin: 0 10px; /* Aumenta la separación entre los elementos del menú */
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Disminuye el tamaño de la fuente en pantallas móviles */
    }
    
    /* Asegúrate de que los elementos 'Proyectos' y 'Contacto' están más alejados del logo */
    .navbar-toggler {
        margin: 0 20px; /* Aumenta el margen a los lados del botón de navegación para separarlo más del contenido */
    }
    
    .navbar-collapse {
        padding-top: 10px; /* Ajusta el espacio superior dentro del contenedor de colapso de la barra de navegación */
    }
}
