@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Workbench&display=swap');


@font-face {
    font-family: 'Classy Vogue'; 
    src: url('/src/fonts/CLASSYVOGUEREGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact'; 
    src: url('/src/fonts/IMPACT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

[data-scroll-container] {
    position: relative;
}

header{
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: white;
    overflow: hidden; /* Bloquear el scroll nativo */    color: rgb(255, 255, 255);
    transition: background-color 0.5s  ease-in-out, color 0.5s  ease-in-out;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: y mandatory;
}

body.black-bg {
    background-color: #0d0d0d;
    color: white;
}

body.loading {
    display: none;
}

  /* Estilo de selección sin fondo */
::selection {
    background-color: transparent; /* Fondo transparente */
    color: #004e66; /* Cambiar solo el color del texto a rojo */
}

/* Para navegadores Webkit como Chrome o Safari */
::-webkit-selection {
    background-color: transparent; /* Fondo transparente */
    color: #004e66; /* Cambiar solo el color del texto a rojo */
}


a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover{
font-weight:500
}

a.hover-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden; /* Asegúrate de que el pseudo-elemento no se desborde */
}

/* Estilos cuando se hace hover sobre el enlace */
a.hover-effect::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url('/src/images/logo/rayito-hover-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: -1;
    pointer-events: none; /* Evita que el pseudo-elemento sea interactivo */
}

/* Cambios al hacer hover */
a.hover-effect:hover::before {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
}

.main {
    background-color: #FFFDF5;
    position: relative;
    margin-top: 0;
    overflow: visible;
}

.content {
    padding: 20px;
    min-height: 2000px;
}





/* VIDEO CARGA */
.video-carga, .video-contenedor-carga{
    height: 100vh;
}

.video-carga{
    position: relative;
    display: block;
    object-fit: cover;
}

#landing {
    position: sticky; 
    top: 0; 
}

#landingVertical {
    position: sticky; 
    top: 0; 
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}



/* VIDEO REEL */
.video-reel-container {
    position: absolute;  /* Cambiado de absolute a fixed */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1; /* Si quieres que el video quede al fondo, mantenlo con z-index negativo */
}

#videoReel {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Mantiene el video cubriendo toda el área */

}

.video-reel-vertical-container {
    position: absolute;  /* Cambiado de absolute a fixed */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    overflow: hidden;
    z-index: 1; /* Si quieres que el video quede al fondo, mantenlo con z-index negativo */
}

#videoReelVertical {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Mantiene el video cubriendo toda el área */

}

/* NAVEGADOR */
#nav {
    z-index: 10000;
    background-color: inherit;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute; /* Empieza en la parte inferior */
    bottom: 0; /* Pone el nav en la parte inferior de la página */
    transition: all 0.3s ease; /* La transición se aplica aquí */
}

#nav .container-fluid {
    height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
    display: flex;
    justify-content: center;
    align-items: center; /* Alineación vertical */
}

#logo-img {
    height: 2rem;
    vertical-align: middle; /* Alinea el logo verticalmente al centro */
}

.sticky-navbar {
    position: fixed !important; /* Cambia a fixed cuando el nav debe ser sticky */
    top: 0; /* Lo pone en la parte superior */
    width: 100%;
    z-index: 1000;
    margin-bottom: 0;
    background-color: #000; /* Puedes ajustar el color de fondo si es necesario */
}
.nav {
    position: absolute; /* Empieza en la parte inferior */
    bottom: 0; /* Pone el nav en la parte inferior de la página */
    transition: all 0.3s ease; /* La transición se aplica aquí */
}

* {
    font-family: "Lexend Giga", Arial, Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    display: flex;
    align-items: center; /* Alinea el logo con los textos */
}

.nav-item {
    min-width: 122px;
}

.nav-link {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: white;
}

/* Alinea los textos en el navbar */
.navbar-nav {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
    list-style: none;
}

.nav-item:nth-child(2){
    min-width: fit-content;
}

.nav-link:hover, .navbar-brand img:hover{
    transform: scale(1.05);
    transition: ease-in 0.2s transform;
}




.page1 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    scroll-snap-type: y proximity;

    /*background:  no-repeat center url(../src/Images/logo/Magel.svg) fixed;*/
    /*background-size: cover;*/
}



/* REPRODUCTOR */
#proyectos {
    position: sticky; 
    top: 0; /* Se mantendrá fija en la parte superior al hacer scroll */
}

#proyectosVertical {
    position: sticky; 
    top: 0; /* Se mantendrá fija en la parte superior al hacer scroll */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
}

#videoHome {
    display: block;
    width: 100%;  /* Asegura que el video ocupe todo el ancho disponible */
    height: 100vh;  /* Asegura que el video ocupe toda la altura de la pantalla */
    object-fit: cover;  /* Esto asegura que el video cubra completamente el área, sin dejar espacio vacío */
}

#videoHomeVertical {
    display: block;
    height: 100%;
    width: 100%;
    
    object-fit: cover;  /* Esto asegura que el video cubra completamente el área, sin dejar espacio vacío */
}



.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}



.video-centered {
    object-fit: cover;
    max-height: 100%;
}

#overlay-text {
    transform: none; /* Elimina cualquier transformación previa */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 0; /* Espaciado interno para el texto */
    color: white;
}

.text-container {
    text-align: left; /* Alinea todo el contenido del contenedor a la izquierda */
    padding: 1rem; /* Opcional: agrega un poco de espacio alrededor */
    z-index: 999999;
}

#overlay-text-vertical {
    text-align: left; /* Asegura que el texto dentro del <p> esté alineado a la izquierda */
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina rellenos adicionales */
    color: white;
}

a#videoHomeLinkVertical {
    text-decoration: none; /* Quita el subrayado del enlace */

}



/* MINIATURAS */
.proyects-index {
    position: absolute; /* Fija el contenedor en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    display: flex;
    justify-content: center; /* Centra la fila */
    align-items: flex-end;
    padding: 0;
    z-index: 10;
    overflow: hidden; /* Asegura que las miniaturas no se salgan del contenedor */
}

.video-selector {
    display: flex;
    justify-content: space-between; /* Coloca las miniaturas de forma uniforme */
    gap: 0; /* Elimina cualquier espacio extra entre las miniaturas */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
}

.miniatura {
    width: 100%;
    height: auto; /* Ajusta este valor según cuánto recorte quieras */
    object-fit: cover;
    object-position: top center;
    flex: 1 0 auto;
    transition: transform 200ms, border 200ms;
    cursor: pointer;
}
.miniatura:hover {
    transform: scale(1.05); /* Escala suave al pasar el ratón */


}



.adhrHead h1 {
    font-size: 8vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-weight: 600;
    color: inherit;
}

.adhrHead p {
    font-family: "Lexend Giga", Arial, Times, serif;
    font-size: 2vw;

    font-weight: 500;
    color: inherit;
}

.adhrHead {
    
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
}




.videoSection {
   
    z-index: 9999;

    height: fit-content;
    min-height: 100vh;
    margin: 0;
    position: relative;
}





/* CONTACTO */


.email {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    width: 100%;              /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 0;               /* Elimina el padding */
}

.texto-email {
    color: #282828;
    text-align: center;
    font-size: clamp(1vw, 1vw, 1rem);
    font-weight: 300;
}

#contacto {
    position: sticky; 
    top: 0; /* Se mantendrá fija en la parte superior al hacer scroll */
}

/* Estilo para posicionar la imagen en la esquina inferior derecha */
#uneed {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    width: 10vw; /* Cambia el tamaño de la imagen */
    max-width: 50vh; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen no se deforme */
    z-index: 10; /* Asegura que la imagen esté sobre otros elementos si es necesario */
}


/* SUBPAGINA */

#subpagina {
    position: sticky; 
    top: 0; 
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}

.video-subpagina-container {
    position: absolute;  /* Cambiado de absolute a fixed */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    overflow: hidden;
    z-index: 1; /* Si quieres que el video quede al fondo, mantenlo con z-index negativo */
}

#videoSubpagina {
    top: 0;
    display: block;
    height: auto;
    height: 100%;
    
    object-fit: cover;  /* Esto asegura que el video cubra completamente el área, sin dejar espacio vacío */
}

/* Subpagina Vertical */

#subpaginaVertical {
    position: fixed; 
    top: 0; 
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}

.video-subpagina-vertical-container {
    position: absolute;  /* Cambiado de absolute a fixed */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    overflow: hidden;
    z-index: 1; /* Si quieres que el video quede al fondo, mantenlo con z-index negativo */
}

#videoSubpaginaVertical {
    top: 0;
    display: block;
    height: auto;
    width: 100%;
    
    object-fit: cover;  /* Esto asegura que el video cubra completamente el área, sin dejar espacio vacío */
}

.text-subpagina-container {
    text-align: left; /* Alinea todo el contenido del contenedor a la izquierda */
    
    padding: 1rem; /* Opcional: agrega un poco de espacio alrededor */
    z-index: 999999;
}


#overlay-text-subpagina-vertical {
    text-align: left; /* Asegura que el texto dentro del <p> esté alineado a la izquierda */
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina rellenos adicionales */
    color: rgb(0, 0, 0);
}

a#tituloSubpaginaVertical {
    text-decoration: none; /* Quita el subrayado del enlace */

}
  

#overlay-text-subpagina {
    text-align: left; /* Asegura que el texto dentro del <p> esté alineado a la izquierda */
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina rellenos adicionales */
    color: white;
}

a#tituloSubpagina {
    text-decoration: none; /* Quita el subrayado del enlace */

}


/* Ajustes para pantallas móviles */
@media (max-width: 800px) {

    
    
    html, body {
        overflow-x: hidden; /* Bloquear el scroll nativo */    
        overflow-y: visible !important; /* Bloquear el scroll nativo */    
    
    }
    /* Animación al mostrar el menú de hamburguesa */
    .navbar-collapse.show .navbar-nav {
        animation: smoothFadeIn 0.5s forwards ease-out;
    }

    .navbar-collapse:not(.show) .navbar-nav {
        animation: smoothFadeOut 0.5s forwards ease-out;
    }

    /* Transición para el botón de hamburguesa */
    .navbar-toggler {
        transition: transform 0.4s ease-in-out;
    }
    /* Ajustar la separación y el tamaño de fuente para móviles */

    #nav {
        margin-bottom: 50px;
    }

    .navbar-nav .nav-link {
        font-size: 0.8rem; /* Disminuye el tamaño de la fuente en pantallas móviles */
    }
    

    .nav-item{
        min-width: 100px;
        width:100px;
    }

    .nav-item:nth-child(2){
        min-width: fit-content;
        width: fit-content;
    }
    /* Asegúrate de que los elementos 'Proyectos' y 'Contacto' están más alejados del logo */
    .navbar-toggler {
        margin: 0 20px; /* Aumenta el margen a los lados del botón de navegación para separarlo más del contenido */
    }
    
    .navbar-collapse {
        padding-top: 10px; /* Ajusta el espacio superior dentro del contenedor de colapso de la barra de navegación */
    }

    .proyects-index img{
        width: 80px !important;
    }

    .proyects-index {
        bottom: 80px;
    }
        
    #videoHome {
        height: 100vh;
        object-fit: contain;
        transition: transform 0.5s ease; /* Transición para ajustar el swipe */
    }

    .video-enter {
        transform: translateX(100%);
    }

    .video-leave {
        transform: translateX(-100%);
    }

    .video-active {
        transform: translateX(0);
    }
}

