@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Workbench&display=swap');


@font-face {
    font-family: 'Classy Vogue'; 
    src: url('/src/fonts/CLASSYVOGUEREGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact'; 
    src: url('/src/fonts/IMPACT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

[data-scroll-container] {
    position: relative;
}

header{
    overflow-x: hidden;

}


html, body {
    background-color: white;
    overflow: hidden; /* Bloquear el scroll nativo */    color: rgb(255, 255, 255);
    transition: background-color 0.5s  ease-in-out, color 0.5s  ease-in-out;
    scroll-behavior: smooth;
}

body.black-bg {
    background-color: #0d0d0d;
    color: white;
}

body.loading {
    display: none;
}

  /* Estilo de selección sin fondo */
::selection {
    background-color: transparent; /* Fondo transparente */
    color: #004e66; /* Cambiar solo el color del texto a rojo */
}

/* Para navegadores Webkit como Chrome o Safari */
::-webkit-selection {
    background-color: transparent; /* Fondo transparente */
    color: #004e66; /* Cambiar solo el color del texto a rojo */
}


a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover{
font-weight:500
}

a.hover-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden; /* Asegúrate de que el pseudo-elemento no se desborde */
}

/* Estilos cuando se hace hover sobre el enlace */
a.hover-effect::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url('/src/images/logo/rayito-hover-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: -1;
    pointer-events: none; /* Evita que el pseudo-elemento sea interactivo */
}

/* Cambios al hacer hover */
a.hover-effect:hover::before {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
}

#logo-img {
    height: 2rem;
    transition: all 0.5s ease;
}

.main {
    background-color: #FFFDF5;
    position: relative;
    margin-top: 0;
    overflow: visible;
}

/* Estilo del nav */
#nav {
    z-index: 10000;
    background-color: inherit;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.sticky-navbar{
    position: fixed !important;
    margin-bottom: -6rem;
}

* {
    font-family: "Lexend Giga", Arial, Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    scroll-snap-type: y proximity;

    /*background:  no-repeat center url(../src/Images/logo/Magel.svg) fixed;*/
    /*background-size: cover;*/
}

.proyects-index {
    position: absolute; /* Fija el contenedor de miniaturas en la parte inferior de la página */
    bottom: 0; /* Coloca el contenedor en la parte inferior */
    left: 0; /* Alinea el contenedor a la izquierda */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    display: flex; /* Utiliza flexbox para alinear las miniaturas horizontalmente */
    justify-content: center; /* Centra las miniaturas horizontalmente */
    align-items: flex-end; /* Alinea las miniaturas verticalmente en la parte inferior del contenedor */
    gap: 0px; /* Añade espacio entre las miniaturas */
    padding: 0px; /* Añade un poco de relleno alrededor del contenedor */
    z-index: 10; /* Asegura que el contenedor esté por encima de otros elementos */
}

.proyects-index img {
    cursor: pointer;
    height: 70px; /* Define una altura fija para las miniaturas más pequeñas */
    width: auto; /* Ajusta la anchura automáticamente para mantener la proporción */
    transition: transform 200ms, border 200ms; /* Añade transición para la animación */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Añade una sombra sutil */
}

.proyects-index img:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el ratón */
    border: 1px solid white; /* Añade un borde blanco al pasar el ratón */
}


.adhrHead h1 {
    font-size: 6vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-weight: 600;
    color: inherit;
}

.adhrHead h2 {
    font-size: 8vw;
    font-family: "Lexend Giga", Arial, Times, serif;

    font-weight: 100;
    color: inherit;
}

.adhrHead {
    
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.landing-mago{
    max-width: 200px;
}

.adhrMage {
    
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.adhrMage svg {
    
    height: 100%;
    width: 100%;
    transform: scale(2);
    transform-origin: center center;
    object-fit: cover;

}


.videoSection {
   
    z-index: 9999;

    height: fit-content;
    min-height: 100vh;
    margin: 0;
    position: relative;
}


#videoHome {
    display: block;
    max-height: 100vh;
    object-fit: contain;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



.video-carga, .video-contenedor-carga{
    height: 100vh;
}

.video-carga{
    position: relative;
    display: block;
    object-fit: cover;
}

.video-centered {
    object-fit: cover;
    max-height: 100%;
}

.miniatura {
    width: 80%;
    height: auto;
    margin: 10px 0;
}

.content {
    padding: 20px;
    min-height: 2000px;
}



#overlay-text {
    transform: none; /* Elimina cualquier transformación previa */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 0; /* Espaciado interno para el texto */

    color: white;
    
}

.nav-item{
    min-width: 122px
}

.nav-item:nth-child(2){
    min-width: fit-content;
}

.nav-link:hover, .navbar-brand img:hover{
    transform: scale(1.05);
    transition: ease-in 0.2s transform;
}

.adhrContact {
    
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    margin-top: 5rem;
    
}

.adhrContact .header-contact img {
    max-width: 1400px;
}



.adhrContact a {
    color: #282828;
}


.adhrContact .texto-email:hover{
    font-weight: 400;
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

.texto-email {
    color: #282828;
    text-align: center;
    font-size: 6vw;
    font-size:clamp(6vw,6vw,6rem);
    font-weight: 300;

    max-width: 1400px;
}

.mago-contacto{
    bottom: 0 ;
    left: 0;
    width: 40vw;
    position: absolute;
}

.texto-contacto{
    bottom: 0 ;
    right: 0;
    margin-bottom: -1rem;
    padding-inline: 1rem;
    position: absolute;

    font-size: 14vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-weight: normal;
    color: inherit;

    color: #282828;
}

.texto-email{
}


#landing {
    position: sticky; 
    top: 0; 
}

#proyectos {
    position: sticky; 
    top: 0; /* Se mantendrá fija en la parte superior al hacer scroll */
}

#contacto {
    position: sticky; 
    top: 0; /* Se mantendrá fija en la parte superior al hacer scroll */
}

.video-selector{
    display: flex;
}
  
/* Ajustes para pantallas móviles */
@media (max-width: 800px) {
    /* Animación al mostrar el menú de hamburguesa */
    .navbar-collapse.show .navbar-nav {
        animation: smoothFadeIn 0.5s forwards ease-out;
    }

    .navbar-collapse:not(.show) .navbar-nav {
        animation: smoothFadeOut 0.5s forwards ease-out;
    }

    /* Transición para el botón de hamburguesa */
    .navbar-toggler {
        transition: transform 0.4s ease-in-out;
    }
    /* Ajustar la separación y el tamaño de fuente para móviles */

   

    .navbar-nav .nav-link {
        font-size: 0.8rem; /* Disminuye el tamaño de la fuente en pantallas móviles */
    }
    

    .nav-item{
        min-width: 100px;
        width:100px;
    }

    .nav-item:nth-child(2){
        min-width: fit-content;
        width: fit-content;
    }
    /* Asegúrate de que los elementos 'Proyectos' y 'Contacto' están más alejados del logo */
    .navbar-toggler {
        margin: 0 20px; /* Aumenta el margen a los lados del botón de navegación para separarlo más del contenido */
    }
    
    .navbar-collapse {
        padding-top: 10px; /* Ajusta el espacio superior dentro del contenedor de colapso de la barra de navegación */
    }

    .video-selector {
        display: none;
    }

    #videoHome {
        height: 100vh;
        object-fit: contain;
        transition: transform 0.5s ease; /* Transición para ajustar el swipe */
    }

    .video-enter {
        transform: translateX(100%);
    }

    .video-leave {
        transform: translateX(-100%);
    }

    .video-active {
        transform: translateX(0);
    }
}

